<div class="h-screen flex justify-content-center align-items-center"
  style="background-image: url(./assets/images/home.png)">
  <div class="shadow-8 surface-card w-6 h-30rem">
    <div class="grid h-full">
      <div class="col-12 lg:col-6 md:col-6" style="background-color: rgb(255, 255, 255);">
        <div class="flex flex-column
            align-items-center
            justify-content-center w-full h-full">
          <div style="text-align: center;">
            <h2>Login</h2>
            <span>Hello this is a gym portal</span>
          </div>
          <form [formGroup]="loginForm" class="w-full">
            <div class="p-3 w-full">
              <div>
                <label for="on_label">Email</label>
                <input formControlName="userName" type="text" id="on_label" autocomplete="off" class="w-full" />
              </div>
              <div>
                <label for="on_label">Password</label>
                <input formControlName="password" type="password" id="on_label" class="w-full" />
              </div>
            </div>
            <div class="login-button w-full">
              <p-button label="Login" icon="pi pi-check" />
            </div>
          </form>

        </div>
      </div>
      <div class="col-6 hidden lg:block md:block image-column p-0">
        <div class="w-full h-full">
          <img src="./assets/images/gym-image.jpg">
        </div>
      </div>
    </div>
  </div>
</div>